@charset "utf-8";
/* CSS Document */
@font-face { font-family: Nexa Light; src: url(../fonts/Nexa%20Light.ttf); }
@font-face { font-family: Nexa Bold; src: url(../fonts/Nexa%20Bold.ttf); }
@font-face { font-family: Quicksand Regular; src: url(../fonts/Quicksand-Regular.otf); }
@font-face { font-family: Quicksand Bold; src: url(../fonts/Quicksand-Bold.otf); }
body {
	background-color: gold;
}
canvas {
	padding: 0;
    margin: auto;
	margin-bottom:25px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	}
#divQuestion {
	font-family: Quicksand Bold;
	font-size:30px;
	margin-top:10px;
}
#a1Box {
	width:15px;
	height:15px;
	background-color:red;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 35%;
    margin-right: -65%;
}
#a2Box {
	width:15px;
	height:15px;
	background-color: blue;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 45%;
    margin-right: -55%;	
}
#a3Box {
	width:15px;
	height:15px;
	background-color:rgba(255,0,221,1.00);
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 55%;
    margin-right: -45%;
}
#a4Box {
	width:15px;
	height:15px;
	background-color: aqua;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 65%;
    margin-right: -35%;	
}
#a1{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 35%;
    margin-right: -65%;	
	font-family: Nexa Bold;
}
#a2{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 45%;
    margin-right: -55%;	
	font-family: Nexa Bold;
}
#a3{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 55%;
    margin-right: -45%;	
	font-family: Nexa Bold;
}
#a4{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 65%;
    margin-right: -35%;	
	font-family: Nexa Bold;
}
#divScore{
	margin-top:40px;
	margin-left:20px;
	font-family:Quicksand Bold;
}
