@charset "utf-8";
/* CSS Document */
@font-face { font-family: Nexa Light; src: url(../fonts/Nexa%20Light.ttf); }
@font-face { font-family: Nexa Bold; src: url(../fonts/Nexa%20Bold.ttf); }
@font-face { font-family: Quicksand Regular; src: url(../fonts/Quicksand-Regular.otf); }
@font-face { font-family: Quicksand Bold; src: url(../fonts/Quicksand-Bold.otf); }


body {
	background-color: rgb(200,200,200);
}

canvas {
	padding: 0;
    margin: auto;
	margin-bottom:25px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	}
#divQuestion {
	font-family: Quicksand Bold;
	font-size:30px;
	margin-top:10px;
}
#a1Box {
	width:15px;
	height:15px;
	background-color:red;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 35%;
    margin-right: -65%;
}
#a2Box {
	width:15px;
	height:15px;
	background-color: blue;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 45%;
    margin-right: -55%;	
}
#a3Box {
	width:15px;
	height:15px;
	background-color:rgba(255,0,221,1.00);
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 55%;
    margin-right: -45%;
}
#a4Box {
	width:15px;
	height:15px;
	background-color: aqua;
	position:absolute;
	margin: auto; 
	margin-top:20px; 
	left: 65%;
    margin-right: -35%;	
}
#a1{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 35%;
    margin-right: -65%;	
	font-family: Nexa Bold;
}
#a2{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 45%;
    margin-right: -55%;	
	font-family: Nexa Bold;
}
#a3{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 55%;
    margin-right: -45%;	
	font-family: Nexa Bold;
}
#a4{
	width:50;
	height:50;
	text-align:center;
	position:absolute;
	margin: auto; 
	margin-top:40px; 
	left: 65%;
    margin-right: -35%;	
	font-family: Nexa Bold;
}
#divScore{
	margin-top:40px;
	margin-left:20px;
	font-family:Quicksand Bold;
}
#footer {
	font-family: Nexa Bold;
	text-align: center;
    position: fixed;
    bottom: 3px;
    width: 100%;
}

#home{
	color:black;
    text-decoration:none;
}

#paused {
	position:fixed;
	width: 75%;
	left: 50%;
	top:48%;
	margin-left: -37.5%;
	text-align:center;
	color:white;
	opacity:0;
	z-index:999;
	pointer-events:none;
	transition:1s;
}

#pausedMsg{
	font-family: Quicksand Bold;
	font-size:60px;
}

#gameOver {
	position:fixed;
	width: 75%;
	left: 50%;
	top:38%;
	margin-left: -37.5%;
	text-align:center;
	color:white;
	opacity:0;
	z-index:9999;
	pointer-events:none;
	transition:2s;
}

#goMessage {
	font-family: Nexa Bold;
	font-size: 50px;
}

#goLengthLabel {
	font-family: Quicksand Regular;
	font-size: 20px;
}

#finalLength {
	font-family: 'Open Sans', sans-serif; 
}

#goBtns {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

#restartBtn {
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	font-family: Nexa Light;
	font-size: 20px;
	color:white;
	width:200px;
	height:75px;
	transition: 0.5s;
}

#changeDiffBtn {
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	font-family: Nexa Light;
	font-size: 20px;
	color:white;
	width:200px;
	height:75px;
	transition: 0.5s;
}

#restartBtn:hover {
	background-color: rgba(0,0,0,0.5)
}

#changeDiffBtn:hover {
	background-color: rgba(0,0,0,0.5)
}